DATABASE_URL=postgresql://{user}:{password}@localhost:5432/{dbname}?schema=public
JWT_SECRET=openssl rand -base64 32
REFRESH_SECRET=openssl rand -base64 32
SESSION_SECRET=openssl rand -base64 32
UPSTASH_REDIS_URL=your upstash url
UPSTASH_REDIS_TOKEN=your upstash token
PORT=3000

# Cloudinary enviroments
CLOUD_NAME=YOUR CLOUD NAME
CLOUD_API_KEY=YOUR CLOUND API KEY
CLOUD_SECRET=YOUR CLOUD SECRET